asgiref==3.10.0
bcrypt==5.0.0
cffi==2.0.0
cryptography==46.0.2
Django==4.2.25
invoke==2.2.0
paramiko==4.0.0
pillow==11.3.0
pycparser==2.23
PyNaCl==1.6.0
sqlparse==0.5.3
typing_extensions==4.15.0
watchdog==6.0.0
